

.main{
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow-y: scroll
  ;
}
.alluser{
 display: flex;
 
 align-items: center;
 margin-left: 50px;
  color: white;
font-family: 'Inter';
font-size: 36px;
font-weight: 700;
line-height: 50.4px;
letter-spacing: -1px;

}
.user{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border:3px solid #101012;
  max-width: 300px;
  height: 300px;
  border-radius: 30px;
  margin: 10px;
  
  color: white;
}
.user-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
}
.user-name{
font-family: 'Inter';
font-size: 24px;
font-weight: 700;
line-height: 33.6px;
letter-spacing: -1px;
text-align: center;
margin-bottom: 5px;
}
.user-user{
  font-family: 'Inter';
  font-size: 18px;
font-weight: 500;
line-height: 25.2px;
text-align: center;
color: #7878A3;
margin-top: 0;



}
.buton{
background-color: #7878A3;
border: none;
padding: 10px;
font-family:'Inter';
font-size: 14px;
font-weight: 600;
line-height: 18px;
text-align: center;
color: white;
padding: 10px 50px;
border-radius: 10px;
cursor: pointer;
}
.container{
  margin: 50px;
}
.loader{
  width: 500px;
  height: 300px;
}